<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>notice</title>
</head>
<body>
<header th:replace="~{layout/header}"></header>
<table>
	<thead>
	<tr>
		<th>제목</th>
		<th>작성일</th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="notice : ${noticeList}">
			<td >
				<a th:text="${notice.noticeTitle}" th:href="@{|/notice/detail/${notice.noticeId}}"></a>
			</td>
			<td th:text="${notice.noticeDate}"></td>
		</tr>
	</tbody>
</table>
<a th:href="@{/notice/create}">공지등록하기</a>
<footer th:replace="~{layout/footer}"></footer>
</body>
</html>